.cabecalho{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;

    padding-top: 2rem;
}
.cabecalho__navegacao ul{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 800px;
}
.cabecalho__link{
    font-weight: 500;
}
.cabecalho__link-email{
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .cabecalho__navegacao ul {
        width: 100px;
    }
    .cabacalho__nome{
        width: 200px;
    }
    .cabecalho__link{
        display:none;
    }
    .cabecalho__link-email{
        display: flex;
    }
} 